Repository Trusted-AI/adversarial-robustness-toolbox, pull requests merged in 2020-02, with the labels that each got.

#285 Add input data shape checks to KerasClassifier
  .lgtm.yml
  .travis.yml
  art/classifiers/keras.py
  art/classifiers/tensorflow.py
Labels: improvement

#287 Re-Added Pixel and Threshold Attack
  README-cn.md
  README.md
  art/attacks/__init__.py
  art/attacks/evasion/__init__.py
  art/attacks/evasion/pixel_threshold.py
  run_tests.sh
  test_requirements.txt
  tests/attacks/test_pixel_attack.py
  tests/attacks/test_threshold_attack.py
Labels: attack

#312 Development maintenance
  art/attacks/evasion/pixel_threshold.py
  art/defences/trainer/adversarial_trainer_madry_pgd.py
  art/utils.py
  test_requirements.txt
  tests/attacks/test_pixel_attack.py
  tests/attacks/test_threshold_attack.py
  tests/test_utils.py
Labels: improvement, tests

#305 Update Poisoning API
  art/attacks/__init__.py
  art/attacks/attack.py
  art/attacks/poisoning/poisoning_attack_svm.py
  docs/modules/attacks.rst
  notebooks/poisoning_attack_svm.ipynb
  notebooks/provenance_defence.ipynb
  tests/attacks/test_poisoning_attack_svm.py
  tests/poison_detection/test_provenance_defence.py
  tests/poison_detection/test_roni.py
Labels: improvement
